html {
    font-family: 'Pacifico', cursive;
    font-size: 1rem;
}

.main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-image: url(../img/bg.jpeg);
    color: #f2f3f4;
}

.main-div__text {
    text-align: center;
    max-width: 80%;
    /* letter-spacing: 1px; */
    
}

.img__invite {
    max-width: 96%;
}

.img__prog {
    max-width: 96%;
}

.img__powered {
    margin-top: 50px;
    max-width: 200px;
}

@media only screen and (min-width: 990px) {
    html {
        font-size: 23px;
    }
    
    .main-div {
        background-repeat: no-repeat;
        background-size: cover;
    }

}

@media only screen and (min-width: 1300px) {

    .img__invite {
        max-width: 1200px;
    }

    html {
        font-size: 25px;
    }
}